

.A1 {
    background-color: #e79624;
    width: 150px;
    height: 150px;

}

.A2 {
    background-color: #dee425;
    width: 450px;
    height: 450px;

}

.A3 {

    color: black;
    background-color: aqua;
    font-size: 30px;
    font-family: ' Calibri';
    font-weight:'bold';

}

.A4 {
    width: 40vw;
    height: 20vh;
    background-color: rgb(191, 51, 151);
}

.A5 {
    width: 35vw;
    height: 60vh;
    background-color: rgb(56, 56, 145);
}